[submodule "zach_algo2012_testRepo"]
	path = zach_algo2012_testRepo
	url = https://github.com/ofZach/zach_algo2012_testRepo.git
[submodule "firm_algo2012"]
	path = firm_algo2012
	url = https://github.com/firmread/firm_algo2012.git
[submodule "jane_algo2012"]
	path = jane_algo2012
	url = https://github.com/friej715/jane_algo2012.git
[submodule "patriciogv_algo2012"]
	path = patriciogv_algo2012
	url = https://github.com/patriciogonzalezvivo/patriciogv_algo2012
[submodule "juanP_algo2012"]
	path = juanP_algo2012
	url = https://github.com/patinoart/juanP_algo2012.git
