[submodule "zach_algo2012_testRepo"]
	path = zach_algo2012_testRepo
	url = https://github.com/ofZach/zach_algo2012_testRepo.git
[submodule "firm_algo2012"]
	path = firm_algo2012
	url = https://github.com/firmread/firm_algo2012.git
[submodule "jane_algo2012"]
	path = jane_algo2012
	url = https://github.com/friej715/jane_algo2012.git
[submodule "patriciogv_algo2012"]
	path = patriciogv_algo2012
	url = https://github.com/patriciogonzalezvivo/patriciogv_algo2012
[submodule "juanP_algo2012"]
	path = juanP_algo2012
	url = https://github.com/patinoart/juanP_algo2012.git
[submodule "navit_algo2012"]
	path = navit_algo2012
	url = https://github.com/navit/navit_algo2012
[submodule "junsikjasonkim_algo2012"]
	path = junsikjasonkim_algo2012
	url = https://github.com/jasonkim1006/junsikjasonkim_algo2012.git
[submodule "Paul__algo2012"]
	path = Paul__algo2012
	url = https://github.com/bestpaul1985/Paul__algo2012.git
[submodule "maniNilchiani_algo2012"]
	path = maniNilchiani_algo2012
	url = https://github.com/maniart/maniNilchiani_algo2012.git
